@import "../fonts.scss";

.About {
  width: 100%;
  max-width: 880px;
  margin: auto;
  margin-top: 150px;

  &__Text {
    margin-bottom: 100px;
  }

  &__Paragraph {
    color: white;
    font-family: $windsor;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
  }
}
