@import url("//hello.myfonts.net/count/3b8fd7");

@font-face {
  font-family: "WindsorD-Bol";
  src: url("webFonts/WindsorD-Bol/font.woff2") format("woff2"),
    url("webFonts/WindsorD-Bol/font.woff") format("woff");
}
@font-face {
  font-family: "UniversLTPro-55Roman";
  src: url("webFonts/UniversLTPro-55Roman/font.woff2") format("woff2"),
    url("webFonts/UniversLTPro-55Roman/font.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
