@import url("//hello.myfonts.net/count/3b8fd7");

@font-face {
  font-family: "alte-bold";
  src: url("webFonts/AlteHaasGroteskBold.woff") format("woff");
}

@font-face {
  font-family: "alte-regular";
  src: url("webFonts/AlteHaasGroteskRegular.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
